:root{
    --c1: #0d1b2a;
    --c2: #1b263b;
    --c3: #415a77;
    --c4: #778da9;
    --c5: #e0e1dd;

}


@keyframes bob {
    0% { -webkit-transform: translateY(1px) ; } 
    10% { -webkit-transform: translateY(-1px) ; }
    20% { -webkit-transform: translateY(1px) ; }
    30% { -webkit-transform: translateY(-1px) ; } 
    40% { -webkit-transform: translateY(1px) ; } 
    50% { -webkit-transform: translateY(-1px) ; } 
    60% { -webkit-transform: translateY(1px) ; } 
    70% { -webkit-transform: translateY(-1px) ; } 
    80% { -webkit-transform: translateY(1px) ; } 
    90% { -webkit-transform: translateY(-1px) ; } 
    100%{ -webkit-transform: translateY(1px) ; } 
}

*{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
}

.center{
    display: flex;
    width: 100%;
    justify-content: center;
}

nav{

    
    flex: 1;
    text-align: right;
    padding: 3rem 0;
  
}

nav ul li{
    display:inline-block;
    margin-right: 3rem;
    position: relative;
    padding-bottom: 0.3rem;

}

nav ul li a{
    color: var(--c2);
    font-size: 1.5rem;
    text-decoration: none;
    transition: border-bottom 0.4s;
}

nav ul li::after{
    margin-top: 2rem;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: var(--c2);
    transition: width 0.3s ease-out;
    border-radius: 5px;
}

nav ul li:hover::after{
width: 100%;
}



.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing:border-box;
    overflow: hidden;

}

.container1{
    display:flex;
    justify-content: space-between;
    margin: 12rem 0;
}

.details{
    flex-basis: 40%;
    position:relative;
    margin-left: 9.5rem;
    color: var(--c2);
}

.details h1{
    font-size: 6rem;
    
}

.details h2{
    margin: -0.2rem 0.5rem;

    font-size: 2rem;
}

.details h3{
    margin: 0.5rem 0.5rem;
    font-size: 1rem;
}
.details h4{
    margin: 0 0.5rem;
    text-align: justify;
    font-size: 0.6rem;
    line-height: 1rem;
    width: 22rem;
}
.details #readmore{
    outline-style: solid;
    outline-color: var(--c2);
    border-style: none;
    padding: 0.5rem 2rem;
    background: none;
    border-radius: 0.2rem;
    margin: 1rem 0.5rem;
    color:var(--c1);
    -webkit-animation-name: bob;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}

.details #readmore:hover{
    background-color: var(--c1);
    color:white;
    -webkit-animation-name:none ;
    
}

.right-side{
    flex-basis: 60%;    
    text-align: left;
    display: flex;
    margin-right: 20rem;
    position: relative;
}

#mobilesocials{
    display: none;
}

#color-strip1{
    height: 20rem;
    width:0.5rem;
    background:  var(--c1);
    transform: translateX(4rem);
}

#color-strip{
    height: 20rem;
    width:1rem;
    background:  var(--c1);
    transform: translateX(5rem);
}

#color-box{
    height: 20rem;
    width:20rem;
    background: linear-gradient(to right, var(--c1), var(--c4));
    transform: translateX(6rem);
    border-radius:  0 2rem 2rem 0 ;
}

.socials{
    display:flex;
    position: relative;
    top:16.5rem;
    justify-content: right;
}

.socials svg{
    padding: 0 0.5rem;
    cursor: pointer;
}

.socials svg:hover{
    -webkit-animation-name: bob;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}




@media only screen and (min-width:1920px) {
    .center{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0 0rem;
        
    }
    .details{
        margin-top: 7rem;

    }
    
    .details h1{

        font-size: 9rem;
        
    }
    
    .details h2{

        margin: -1rem 0.5rem;
    
        font-size: 2.5rem;
    }
    
    .details h3{
        margin: 1.75rem 0.5rem;
        font-size: 1.5rem;
    }
    .details h4{
        margin: 0 0.5rem;
        
        font-size:0.9rem;
        line-height: 1.5rem;
        width:32rem;
        
    }
    .details #readmore{
        font-size: 1.75rem;
    }

    .right-side{
        transform: translateY(9rem);
        margin-left:-20rem;
    }



    #color-strip1{
        height: 28rem;
        width:0.5rem;
        background:  var(--c1);
        margin-left: 15rem;
        transform: translateX(7rem);
    }
    
    #color-strip{
        height: 28rem;
        width:1rem;
        background:  var(--c1);
        margin-left: 0rem;
        transform: translateX(8.5rem);

    }
    
    #color-box{
        height: 28rem;
        width:20rem;
        background: linear-gradient(to right, var(--c1), var(--c4));
        margin-left: 0rem;
        border-radius:  0 2rem 2rem 0 ;
        transform: translateX(10rem);

    
    }




    .socials{
        display:flex;
        position: relative;
        top: 24.3rem;
        justify-content: right;
    }

}

@media only screen and (max-width:1300px) {
    .details{
        margin-left: 0;
    }
    #mobilesocials{
        display: flex;
        flex-direction: column;
        top: 9.5rem;

    }
    #mobilesocials svg{
        margin-bottom: 0.3rem;
        height: 35px;
        width: 35px;
    }

    .mobiledetails{
        display: flex;
        justify-content: center;
        }
    .right-side{
        display: none;
    }
}


@media only screen and (max-width:750px) {
    nav ul{
        width: 100%;
    }
    nav ul li a{
        font-size: 1rem;
    }


    #mobilesocials{
        transform: translateX(-1.5rem);
    }

    .mobiledetails{
        padding-left: 1rem;

    }

    .right-side{
        display: none;
    }
    .container1{
        margin-left: 0;
    }

    .container1::after{
        content: '';
        position:relative;
        background: linear-gradient(to bottom, var(--c1), var(--c4));
        width: 0.5rem;
        height:17rem;
        right: 0.5rem;
    }

    .details h1{
        font-size: 4.0rem;
        
    }
    
    .details h2{
        margin: -0.2rem 0.5rem;
    
        font-size: 1.4rem;
    }
    
    .details h3{
        margin: 0.5rem 0.5rem;
        font-size: 0.6rem;
    }
    .details h4{
        margin: 0 0.5rem;
    
        font-size: 0.6rem;
        line-height: 1rem;
        width: 15rem;
    }
    
}
@media only screen and (max-width:450px) {
    .details h1{
        font-size: 3.3rem;
        
    }
    
    .details h2{
        margin: -0.2rem 0.5rem;
    
        font-size: 1rem;
    }

    
    .details h3{
        margin: 0.5rem 0.5rem;
        font-size: 0.8rem;
    }
    .details h4{
        margin: 0 0.5rem;
    
        font-size: 0.6rem;
        line-height: 1rem;
        width: 12rem;
    }
    #mobilesocials{
        transform: translate(-2rem, 3rem);
    }

    #mobilesocials svg{
        width: 24px;
        height: 24px;
    }
    .container1::after{
        position: absolute;
        transform: translateY(0.5rem);
    }
}